.error-screen {
  background-image: url("/images/error-cat.jpg");
  background-size: cover;
  background-position: 60% 0%;
  opacity: 0.8;
  color: white;
  .not-found {
    padding: 20%;
    font-size: 40px;
  }
}