.header {
  height: 10vh;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  background: rgba(0,0,0,0.8);
  color: $white;
  height: 100%;
  z-index: 10;

  .menu-item {
    background: transparent;
    border: none;
    outline: none;
    width: 20vw;
    font-size: $font-size-nav;
    cursor: pointer;
    color: $white;
    font-family: 'Fira Code', monospace;
    .alt-name {
      display: none;
    }

    &.active {
      color: $red;
    }

    &:hover {
      transition: font-size 1s;
      font-size: $font-size-base;
      background: transparent;
      z-index: 1000;
      .name {
        display: none;
      }
      .alt-name {
        display: block;
        background: transparent;
      }
    }
  }
}