.blur {
  filter: blur(5px);
  transition: 1s filter ease-in-out;
}.bcg-white {
  background-color: $white;
}
.opaque-black {
  color: $black-opaque;
}
.standard-shadow {
  box-shadow: 10px 30px 50px $black;
}
.text-shadow__underline {
  text-shadow: 0 15px 10px $black;
}
.text-shadow__classic-black {
  text-shadow: 0 5px 5px $black;
}
.text-shadow__discrete {
  text-shadow: 0 5px 15px $black;
}
.visibility-hidden {
  visibility: hidden;
  transition: all ease-in-out 0.5s;
}