@keyframes wobble {
  0% { transform: translateY(0%); }
  15% { transform: translateY(-15%); }
  30% { transform: translateY(10%); }
  45% { transform: translateY(-5%); }
  60% { transform: translateY(4%); }
  75% { transform: translateY(-2%);}
  100% { transform: translateX(0%); }
}

$black: rgba(0,0,0,0.95);
$black-opaque: rgba(0,0,0,0.8);
$blue: #4aa9ea;
$gray: rgb(100,100, 100);
$red: red;
$white: #efdecd;
$white-blue: #E3F0FC;
$white-opaque: rgba(255, 255, 255, 0.6);
$white-semi-opaque: rgba(255, 255, 255, 0.9);

$base-padder: 5px;

$font-size-nav: calc(20px + 6 * ((100vw - 320px) / 680));
$font-size-nav-mobile: calc(30px + 6 * ((100vw - 320px) / 680));
$font-size-base: calc(10px + 6 * ((100vw - 320px) / 680));
$font-size-base-mobile: calc(13px + 6 * ((100vw - 320px) / 680));
$font-size-card: calc(25px + 6 * ((100vw - 320px) / 680));