@keyframes wobble {
  0% { transform: translateY(0%); }
  15% { transform: translateY(-15%); }
  30% { transform: translateY(10%); }
  45% { transform: translateY(-5%); }
  60% { transform: translateY(4%); }
  75% { transform: translateY(-2%);}
  100% { transform: translateX(0%); }
}

$black: rgba(0,0,0,0.95);
$black-opaque: rgba(0,0,0,0.8);
$red: red;
$white: #efdecd;
$white-blue: #E3F0FC;
$gray: rgb(100,100, 100);

$base-padder: 5px;

$font-size-nav: calc(20px + 6 * ((100vw - 320px) / 680));
$font-size-base: calc(10px + 6 * ((100vw - 320px) / 680));
$font-size-card: calc(25px + 6 * ((100vw - 320px) / 680));

* {
  box-sizing: border-box;
}

body {
  background: $black;
}
// BEM
a {
  text-decoration: none;
  color: $white;
}
.fa {
  background: transparent;
}
.bullet-point {
  padding: 20px;
}
.text {
  font-family: 'PT Serif', serif;
  font-size: $font-size-base;
  color: $white;
}
.auto-margin {
  margin: 0 auto;
}
.caption {
  font-family: 'PT Serif Caption', serif;
}
.center-span {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.code {
  font-family: 'Fira Code', monospace;
}
.flex {
  display: flex;
  background: transparent;
  &.flex-wrap {
    flex-wrap: wrap;
  }
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
.blur {
  filter: blur(5px);
  transition: 1s filter ease-in-out;
}
.standard-shadow {
  box-shadow: 10px 30px 50px $black;
}
.text-shadow__underline {
  text-shadow: 0 15px 10px $black;
}
.text-shadow__classic-black {
  text-shadow: 0 5px 5px $black;
}
.text-shadow__discrete {
  text-shadow: 0 5px 15px $black;
}
.opaque-black {
  color: $black-opaque;
}
.visibility-hidden {
  visibility: hidden;
  transition: all ease-in-out 0.5s;
}
.wobble-on-hover:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: wobble;
  animation-name: wobble;
}
.bcg-white {
  background-color: $white;
}

@for $i from 1 through 20 {
  .padder-#{$i} {
    padding: #{$base-padder * $i};
  }
  .spacer-left-#{$i} {
    margin-left:  #{$base-padder * $i};
  }
  .spacer-right-#{$i} {
    margin-right:  #{$base-padder * $i};
  }
  .spacer-#{$i} {
    margin: #{$base-padder * $i};
  }
}
@for $i from 20 through 100 {
  .height-#{$i} {
    height: #{$i}vh;
  }
  .width-#{$i} {
    width: #{$i}vw;
  }
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

// specific
.header {
  height: 10vh;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  background: rgba(0,0,0,0.8);
  color: $white;
  height: 100%;
  z-index: 10;

  .menu-item {
    background: transparent;
    border: none;
    outline: none;
    width: 20vw;
    font-size: $font-size-nav;
    cursor: pointer;
    color: $white;
    font-family: 'Fira Code', monospace;
    .alt-name {
      display: none;
    }

    &.active {
      color: $red;
    }

    &:hover {
      transition: font-size 1s;
      font-size: $font-size-base;
      background: transparent;
      .name {
        display: none;
      }
      .alt-name {
        display: block;
        background: transparent;
      }
    }
  }
}

.carousel {
  background: transparent;
  color: $white;
  .carousel__title {
    font-size: $font-size-nav;
    text-align: center;
    background: inherit;
  }
  .carousel__videos {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0 5%;
    background: transparent;
  }
  .carousel__items {
    background: transparent;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;

    .carousel__item {
      display: block;
      transition: all 0.3s ease-in, offset-position 1s;
      transition-delay: 0.1s;
      border-radius: 5px;
      .carousel__caption {
        display: none;
      }
      div {
        // border: 0.5px solid $gray;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
      }
      &.active {
        height: 80%;
        width: 40%;
        .carousel__caption {
          display: block;
        }
      }
      &.small {
        height: 50%;
        width: 20%;
        filter: blur(1px);
        transition: 1s filter ease-in-out;
      }
      &.hidden {
        display: none;
      }

    }
  }
}

.base-card-wrapper {
  position: relative;
  .base-card {
    width: 80vw;
    height: 50vh;
    background: $white-blue;
    background-image: url("/images/rules.jpg");
    background-size: cover;
    border-radius: 5px;
    margin: 0 auto;
    font-family: 'Patrick Hand SC', cursive;
    font-size: $font-size-card;
    position: absolute;
    top: -9999px !important;
    visibility: hidden;
    &.visible {
      visibility: visible;
      top: 0 !important;
      transition: top 0.5s;
    }
    .card-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgba(0,0,0,0.1);
      padding: 10px;
    }
    .card-bottom {
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
    .card-image {
      max-width: 50%;
      max-height: 10vh;
    }
  }
}

.main-screen {
  background-image: url("/images/violabin.jpg");
  background-size: cover;
}

.music-screen {
  background: transparent;
  .iframe-container {
    width: 40vw;
    margin: 0 auto;
  }
  .music-description {
    background: transparent;
    width: 60vw;
  }
  .music-parallax {
    background-image: url("/images/weroviolin.jpg");
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 1s filter ease-in-out;
  }
}

.wooden-floor {
  background-image: url("/images/wooden-floor.jpg");
  background-size: cover;
  background-position: bottom;
}

.projects-screen {
  background-image: url("/images/mars.jpg");
  background-size: cover;
  .projects-div {
    margin: 0 auto;
    width: 80vw;
    .next-project {
      padding: 20px;
    }
  }
}

.about-page {
  background: url("/images/hubble-leo.jpeg");
  .about-main {
    background: rgba(0, 0, 0, 0.5);
    color: $white;
    padding: 20px;
    .description {
      .paragraph {
        
      }
    }
  }

  .about-aside {
    background: rgba(200, 200, 200, 0.2);
    padding: 20px;
  }
}

